---
layout: resume
title: Resume
permalink: /resume/
order: 1
---


<div class="row col">
    <p>{{ site.data.resume.name }}</p>
    <p><i class="fas fa-envelope" aria-hidden="true"></i>{{ site.data.resume.email }}</p>
    <p><i class="fab fa-facebook" aria-hidden="true"></i>{{ site.data.resume.facebook }}</p>

    <!--<p class="bg-alert">2018년 07월 30일 육군 정보보호특기병으로 입대해서 2020년 04월 29일 전역 예정입니다.<br>이 기간동안 메일을 통한 연락이 어려울 수 있습니다.</p>-->
</div>

<!-- INTRODUCE START -->
<div id="introduce" class="col col-resume">
    <div class="col m3 s12"><h2 class="left-category">Introduce</h2></div>
    <div class="col m9 s12">
        {% for row in site.data.resume.introduce %}
            <p>{{ row }}</p>
        {% endfor %}
    </div>
</div>
<!-- INTRODUCE END -->

<!-- EXPERIENCES START -->
<div id="experiences" class="col col-resume">
    <div class="row"><h2 class="left-category">Experience & Project</h2></div>
    {% for experience in site.data.resume.experiences %}
    <div class="row">
        <div class="col m3 s12">
            <p class="title">{{ experience.title }}</p>
            <p class="position">{{ experience.position }}</p>
            <p class="period">{{ experience.period }}</p>
        </div>

        <div class="col m9 s12">
            {% for project in experience.projects %}
            <div class="row row-project">
                <p class="project-name">{{ project.name }}</p>
                <p class="project-period">{{ project.period }}</p>
                <p class="project-desc">{{ project.desc }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if forloop.last == false %}
    <hr class="resume hr">
    {% endif %}
    {% endfor %}
</div>
<!-- EXPERIENCES END -->

<!-- LECTURES START -->
<div id="lectures" class="col col-resume">
    <div class="row"><h2 class="left-category">Lecture & Presentation</h2></div>
    {% for lecture in site.data.resume.lectures %}
    <div class="row">
        <div class="col m3 s12">
            <p class="period">{{ lecture.period }}</p>
        </div>

        <div class="col m9 s12">
            <p class="title">{{ lecture.title }}</p>
            <p class="location">{{ lecture.location }}</p>
        </div>

    </div>
    {% if forloop.last == false %}
    <hr class="resume hr">
    {% endif %}
    {% endfor %}
</div>
<!-- LECTURES END -->

<!-- ORGANIZATION START -->
<div id="organizations" class="col col-resume">
    <div class="row"><h2 class="left-category">Organization</h2></div>
    {% for organization in site.data.resume.organizations %}
    <div class="row">
        <div class="col m3 s12">
            <p class="title">{{ organization.title }}</p>
            <p class="position">{{ organization.position }}</p>
            <p class="period">{{ organization.period }}</p>
        </div>

        <div class="col m9 s12">
            {% for project in organization.projects %}
            <p class="project-name">{{ project.name }}</p>
            <p class="project-period">{{ project.period }}</p>
            <p class="project-desc">{{ project.desc }}</p>
            {% endfor %}
        </div>
    </div>
    {% if forloop.last == false %}
    <hr class="resume hr">
    {% endif %}
    {% endfor %}

</div>
<!-- ORGANIZATION END -->

<!-- EDUCATION START -->
<div id="educations" class="col col-resume">
    <div class="row"><h2 class="left-category">Education</h2></div>
    {% for education in site.data.resume.educations %}
    <div class="row">
        <div class="col m3 s12">
            <p class="period">{{ education.period }}</p>
        </div>

        <div class="col m9 s12">
            <p class="title">{{ education.title }}</p>
            <p class="position">{{ education.position }}</p>
            <p class="desc">{{ education.desc }}</p>
        </div>

    </div>
    {% if forloop.last == false %}
    <hr class="resume hr">
    {% endif %}
    {% endfor %}
</div>
<!-- EDUCATION END -->

<!-- ETC START -->
<div id="etc" class="col col-resume">
    <div class="row"><h2 class="left-category">ETC</h2></div>
    {% for item in site.data.resume.etc %}
    <div class="row">
        <div class="col m3 s12">
            <p class="period">{{ item.period|to_string }}</p>
        </div>

        <div class="col m9 s12">
            <p class="title">{{ item.title }}</p>
            <p class="desc">{{ item.desc }}</p>
        </div>

    </div>
    {% if forloop.last == false %}
    <hr class="resume hr">
    {% endif %}
    {% endfor %}
</div>
<!-- ETC END -->